<h1>{{poll.title}}</h1>
<h2>By {{author}}</h2>
<form id="form">
    {{#each poll.choices}}
        <input type="radio" id="vote{{@index}}" name="vote" value="{{@index}}" {{#if (equals ../lastVote @index)}}checked{{/if}}>
        <label for="vote{{@index}}">{{this}}</label>
    {{/each}}
    <p id="options-error" class="error"></p>
    <input type="submit" value="Vote">
</form>
<script>
const showError = errorManager('options-error');

handleForm("form", "POST", "/polls/{{poll._id}}", (formData) => {
    if (formData.get('vote') === null) {
        showError("An option must be selected.");
        return;
    } else {
        showError(); // Hides error info if no error
    }

    const vote = +formData.get('vote');
    return { vote: vote };
});
</script>