<h1>Rosters</h1>

<a href="/rosters/createRoster">Create new roster</a>

{{#if rosters.length}}
  {{#each rosters}}
    <table>
      <caption>{{this.label}}</caption>
      <tr>
        <th>Students</th>
        <th>Status</th>
      </tr>
      {{#each this.students}}
        <tr>
          <td>{{this}}</td>        
          {{!-- todo: change route to file that handles student stuff --}}  
          <td></td>
          <td><a href="/rosters/edit/{{../this._id}}/remove/{{this}}">Remove student</a></td>
        </tr>
      {{/each}}
      {{#each this.assistants}}
        <tr>
          <td>{{this}}</td>
          <td>TA</td>
          <td><a href="/rosters/edit/{{../this._id}}/remove/{{this}}">Remove assistant</a></td>
        </tr>
      {{/each}}
    </table>
    <a href="/rosters/edit/title/{{this._id}}">Change title</a>

    {{!-- todo: change route to file that handles student stuff --}}  
    <a href="/rosters/edit/add/{{this._id}}">Add student(s)</a>
    
    <a href="/rosters/delete">Delete roster</a>

  {{/each}}
{{else}}
  <p>No rosters exist yet</p>
{{/if}}